<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>主空间</title>
    <!-- 引入 Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="d-flex justify-content-center align-items-center bg-dark" style="height: 100vh;">

<div class="text-center text-white">
    <!-- 添加上边距 -->
    <a href="/jingang" class="btn btn-success btn-lg w-auto mb-4">进入主空间</a>

    <!-- 文本内容 -->
    <h3>Hello,你好呀小大人😃</h3>
    <h4>已经等你很久啦...😒</h4>
    <h4>最近过的怎么样呢😎</h4>
    <h4>有什么想分享告诉我的吗🤳</h4>
    <h4>但是无论你最近开不开心请你记住</h4>
    <h2 class="text-warning">永远不要因为打翻牛奶而哭泣</h2>
    <h5>可以把你想分享给我的事情进去主空间告诉我呀</h5>
</div>

</body>
</html>
